body{
    font-family: 'Inconsolata';
    padding: 0 50px;
    color: #0b3954;
}

.name{
    font-family: "karla";
    text-transform: capitalize;
    font-size: 80px;
}

.landing{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100dvh;
}

.tagline{
    font-size: 20px;
    font-weight: 300;
}

.pg_links{
    text-transform: capitalize;
    font-size: 20px;
    padding-top: 20px;
}

.pg_links > a{
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    color: #0b3954;
}

.pg_links > a:hover {
    background-color: #bfd7ea;
}

.separator, hr{
    color:#bfd7ea;
}

hr{
    height: 1px;
    background-color: #bfd7ea;
    margin: 10px 0 10px 0;
    border: none;
  }